<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="软件工程课程项目电商高并发秒杀实践" />
		<title>软微高并发秒杀项目</title>
		<link rel="stylesheet" href="css/homepage.css" />
		<link rel="shortcut icon" href="favicon.ico"/>
	</head>
	
	<body>
		<div class="wrapper">
			<div class="content">
				<ul class="left-ul">
					<li><a href="#" class="top-words red-word margin3" >登录</a></li>
					<li><a href="#" class="top-words margin1">免费注册</a></li>
				</ul>
	
				<ul class="right-ul">
					<li>
						<a href="#" class="top-words marginR">注册会员</a>
						<i class="iconfont icon-gouwuche margin4"></i>
						<a href="#" class="top-words margin2">购物车</a>
						<i class="iconfont icon-shoucang margin4"></i>
						<a href="#" class="top-words margin2">收藏夹</a>
					</li>
					<li>
						<span class="string">|</span>
					</li>
					<li>
						<a href="#" class="top-words margin2">关注SSmall</a>
						<a href="#" class="top-words margin2">联系客服</a>
						<i class="iconfont icon-liebiao margin4"></i>
						<a href="#" class="top-words margin2">网址导航</a>
					</li>
				</ul>
			</div>
		</div>
		
		<div class="top-search">
			<div class="wrapper1">
				<a href="#" class="ai"></a>
				<ul class="top-ul">
					<li class="baby">宝贝</li>
					<li class="tianmao">店铺</li>
				</ul>
				<i class="iconfont icon-sousuo"></i>
				<input type="text" name="search" placeholder="软件工程教材" class="search">
				<input type="submit" name="search-button" value="搜索" class="button">
				<ul class="chooses-ul">
					<li><a href="#" class="chooses">北京大学</a></li>
					<li><a href="#" class="chooses">软件与微电子学院</a></li>
					<li><a href="#" class="chooses chooses-s">软件工程</a></li>
					<li><a href="#" class="chooses">课程项目</a></li>
					<li><a href="#" class="chooses">电商平台</a></li>
					<li><a href="#" class="chooses">高并发秒杀系统</a></li>
					<li><a href="#" class="chooses">可行性研究</a></li>
					<li><a href="#" class="chooses">需求分析</a></li>
					<li><a href="#" class="chooses">形式化说明技术</a></li>
					<li><a href="#" class="chooses">总体设计</a></li>
				</ul>
			</div>
		</div>
		
		<div class="wrapper2">
			<div class="guideline">
				<h2 class="market">商品分类</h2>
		
				<div class="guide-box">
					<ul class="guide-left">
						<li><a href="#" class="guide-section">服装城</a></li>
						<li><a href="#" class="guide-section margin5">美妆馆</a></li>
						<li><a href="#" class="guide-section">超市</a></li>
					</ul>
					<ul class="guide-middle">
						<li><span class="string1">|</span><a href="#" class="guide-section margin6">全球购</a></li>
						<li><a href="#" class="guide-section margin6">闪购</a></li>
						<li><a href="#" class="guide-section margin6">团购</a></li>
						<li><a href="#" class="guide-section margin6">拍卖捡漏</a></li>
					</ul>
					<ul class="guide-right">
						<li><span class="string1 string2">|</span><a href="#" class="guide-section margin6">精选热卖</a></li>
						<li><a href="#" class="guide-section margin6">二手商品</a></li>
					</ul>
				</div>
			</div>
		</div>
		
		<div class="wrapper3">
			<div class="content1">
				<div class="content-left">
					<div class="main">
						<div class="kinds">
							<ul class="kinds-ul">
								<li class="kinds-li">
									<a href="#" class="kind-a">女装</a> / 
									<a href="#" class="kind-a">男装</a> / 
									<a href="#" class="kind-a">内衣</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">鞋靴</a> /
									<a href="#" class="kind-a">箱包</a> / 
									<a href="#" class="kind-a">内衣配件</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">童装玩具</a> /
									<a href="#" class="kind-a">孕产</a> / 
									<a href="#" class="kind-a">用品</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">家电</a> /
									<a href="#" class="kind-a">数码</a> / 
									<a href="#" class="kind-a">手机</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">美妆</a> /
									<a href="#" class="kind-a">洗护</a> / 
									<a href="#" class="kind-a">保健品</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">饰品</a> /
									<a href="#" class="kind-a">珠宝</a> / 
									<a href="#" class="kind-a">手表眼镜</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">运动</a> /
									<a href="#" class="kind-a">户外</a> / 
									<a href="#" class="kind-a">乐器</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">游戏</a> /
									<a href="#" class="kind-a">动漫</a> / 
									<a href="#" class="kind-a">影视</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">美食</a> /
									<a href="#" class="kind-a">生鲜</a> / 
									<a href="#" class="kind-a">零食</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">鲜花</a> /
									<a href="#" class="kind-a">宠物</a> / 
									<a href="#" class="kind-a">农资</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">工具</a> /
									<a href="#" class="kind-a">装修</a> / 
									<a href="#" class="kind-a">建材</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">家具</a> /
									<a href="#" class="kind-a">家饰</a> / 
									<a href="#" class="kind-a">家纺</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">汽车</a> /
									<a href="#" class="kind-a">二手车</a> / 
									<a href="#" class="kind-a">用品</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">办公</a> / 
									<a href="#" class="kind-a">DIY</a> / 
									<a href="#" class="kind-a">五金电子</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">百货</a> / 
									<a href="#" class="kind-a">餐厨</a> / 
									<a href="#" class="kind-a">家庭保健</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
								<li class="kinds-li">
									<a href="#" class="kind-a">学习</a> / 
									<a href="#" class="kind-a">卡券</a> / 
									<a href="#" class="kind-a">本地服务</a>
									<i class="iconfont icon-jiantou1"></i>
								</li>
							</ul>
						</div>
						
						<div class="slide">
							<img src="https://aecpm.alicdn.com/simba/img/TB183NQapLM8KJjSZFBSutJHVXa.jpg" class="cursor">
							<div class="slide1">
								<div class="black-line"></div>
								<img class="slide1-pic" src="https://aecpm.alicdn.com/simba/img/TB1X6uHLVXXXXcCXVXXSutbFXXX.jpg">
								<img class="slide1-pic" src="https://aecpm.alicdn.com/simba/img/TB13xKuLVXXXXcHapXXSutbFXXX.jpg">
							</div>
						</div>
						
						<div class="hot">
								<img class="cursor" src="https://img.alicdn.com/imgextra/i3/153/O1CN011D0748w23KwY43u_!!153-0-lubanu.jpg_290x290q90.jpg_.webp">
						
								<h5 class="hot-sale">今日热卖</h5>
						
								<img class="cursor" src="https://img.alicdn.com/simba/img/TB1ZEvPibrpK1RjSZTESuwWAVXa.jpg">
							</div>
						</div>
						
						<div class="news-box">
							<div class="head-news"></div>
							<div class="news-data">
								<p class="news-data1">限时优惠</p>
								<p class="news-data2">冬季上新</p>
							</div>
						</div>
					</div>
					
					<div class="content-right">
						<div class="head-box">
							<img src="img/profile.png" alt="设置头像" class="head-pic">
							<div class="Hi">Hi！</div>
							<div class="gold member">
								<img src="./img/VIP.png" class="signal">
								<p class="pick-money">会员俱乐部</p>
							</div>
						</div>
					
						<div class="login">
							<div class="login-button">
								<a href="index.html" class=a1>登录</a>
							</div>
							<div class="login-button">
								<a href="register.html" class=a1>注册</a>
							</div>
						</div>
					
						<div class="report">
							<p class="report-word">网上有害信息举报专区</p>
						</div>
					
						<div class="notice">
							<ul class="notice-ul">
								<li class="notice-li">公告</li>
								<li class="notice-li">规则</li>
								<li class="notice-li">论坛</li>
								<li class="notice-li">安全</li>
								<li class="notice-li last">公益</li>
							</ul>
						</div>
					
						<div class="notice-data">
							<a href="#" class="notice-data1">软件与微电子学院</a><br>
							<a href="#" class="notice-data1 notice-data2">软件与微电子学院</a>
							<a href="#" class="notice-data1 notice-data3">软件与微电子学院</a>
						</div>
					
						<div class="functions">
							<div class="functions-kinds">
								<img src="./img/图标1.png" alt="充话费" class="function-pic">
								<p class="function-name">充话费</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标3.png" alt="旅行" class="function-pic">
								<p class="function-name">旅行</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标2.png" alt="车险" class="function-pic">
								<p class="function-name">车险</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标4.png" alt="游戏" class="function-pic">
								<p class="function-name">游戏</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标5.png" alt="彩票" class="function-pic">
								<p class="function-name">彩票</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标6.png" alt="电影" class="function-pic">
								<p class="function-name">电影</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标7.png" alt="酒店" class="function-pic">
								<p class="function-name">酒店</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标8.png" alt="理财" class="function-pic">
								<p class="function-name">理财</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标9.png" alt="找服务" class="function-pic">
								<p class="function-name">找服务</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标10.png" alt="演出" class="function-pic">
								<p class="function-name">演出</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标11.png" alt="水电煤" class="function-pic">
								<p class="function-name">水电煤</p>
							</div>
							<div class="functions-kinds">
								<img src="./img/图标12.png" alt="火车票" class="function-pic">
								<p class="function-name">火车票</p>
							</div>
						</div>
					
						<div class="APP">
							<h3 class="AliAPP">其他应用</h3>
							<a href="#" class="more">更多
								<i class="iconfont icon-jiantou1 icon-jiantou1-margin"></i>
							</a>
			
							<div class="APP-signal">
								<img class="APP-signal-pic" src="./img/substitute.png">
								<img class="APP-signal-pic" src="./img/substitute.png">
								<img class="APP-signal-pic" src="./img/substitute.png">
								<img class="APP-signal-pic" src="./img/substitute.png">
								<img class="APP-signal-pic" src="./img/substitute.png">
								<img class="APP-signal-pic" src="./img/substitute.png">
								<img class="APP-signal-pic" src="./img/substitute.png">
								<img class="APP-signal-pic" src="./img/substitute.png">
								<img class="APP-signal-pic" src="./img/substitute.png">
								<img class="APP-signal-pic" src="./img/substitute.png">
							</div>
						</div>
					</div>
				</div>
			</div>
	</body>
</html>
