<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="软件工程课程项目电商高并发秒杀实践" />
		<title>软微高并发秒杀项目</title>
		<link rel="stylesheet" href="css/base.css" />
		<link rel="stylesheet" href="css/slide-unlock.css" />
		<script src="js/jquery-3.2.1.min.js"></script>
		<style type="text/css">
			.userbox .delete{
				width: 16px;
				height: 16px;
					border-radius: 10px;
					background-color: #000;
					color: #fff;
					text-align: center;
					font-size: 9.5px;
					font-weight: bold;
					left: 276px;
			}
		</style>
	</head>
	
	<body>
		<script>
		  	$(document).ready(function(){
				$("#username").focus();
			})
		</script>
		<script>
		        $(document).ready(function(e){
		            $('.delete').click(function(){
		                $('.text input').val('');
		            });
		        });
		</script>
				
		<div class="taobaoBox">
		    <div class="header">
			   <div class="headerContainer">
			     <a href="#"><img src="img/ProjectLogo.png" /></a>
				 <a href="#" class="advice"><img src="img/message.png">“注册界面”改进建议</a>
			   </div>
			</div>

			<div class="ad">
				<div class="box">
					<div class="container">
						<div class="tips1">
							账户注册
						</div>
						<form class="form" method="post" action="/register">
							<div class="userbox"> 
							   <label for="username"></label>
								   <input type="text" name="userName" id="username" placeholder="请输入想创建的账户名称" />
							</div>
							
		  
							<div class="passwdbox"> 
							   <label for="password"></label>
							   <input type="password" name="passWord" id="passwd" placeholder="请输入不少于6位的密码" />
							</div>
							
							<div class="passwdbox">
							   <label for="password"></label>
							   <input type="password" name="reenterPassWord" id="passwd" placeholder="请再次输入密码" />
							</div>
							
							<div id="slider">
								<div id="slider_bg"></div>
								<span id="label">>></span>
								<span id="labelTip">拖动滑块验证</span>
							</div>
							<script src="js/jquery-1.12.1.min.js"></script>
							<script src="js/slideunlock.js"></script>
							<script>
								$(function () {
									var slider = new SliderUnlock('#slider',{
											successLabelTip : '验证通过'
										},function(){
											alert("验证成功");
										});
									slider.init();
								})
							</script>
		  
							<div class="submitbox">
								<button type="submit" name="submit">注册</button>
							</div>

							<div class="forget-register">
								<a href="index.html" class="register">已有帐号？请登录</a>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="footer">
				<div class="footerContainer">
					<ul class="contactCompany">
						 <li><a href="#">北京大学</a></li>
						 <li><a href="#">软件与微电子学院</a></li>
						 <li><a href="#">软件工程</a></li>
						 <li><a href="#">课程项目</a></li>
						 <li><a href="#">电商平台</a></li>
						 <li><a href="#">高并发秒杀系统</a></li>
						 <li><a href="#">可行性研究</a></li>
						 <li><a href="#">需求分析</a></li>
						 <li><a href="#">形式化说明技术</a></li>
						 <li><a href="#">总体设计</a></li>
						 <li><a href="#">详细设计</a></li>
						 <li><a href="#">实现</a></li>
						 <li><a href="#">维护</a></li>
					</ul>
					<ul class="explain">
						 <li><a href="#">关于项目</a></li>
						 <li><a href="#">小组成员</a></li>
						 <li><a href="#">营销中心</a></li>
						 <li><a href="#">联系客服</a></li>
						 <li><a href="#">开放平台</a></li>
						 <li><a href="#">诚征英才</a></li>
						 <li><a href="#">联系我们</a></li>
						 <li><a href="#">法律声明</a></li>
						 <li class="copy">&copy;&nbsp;2020 ss.pku.edu.cn 版权所有</li>
					</ul>
					<ul class="admit">
						 <li class="admit1">&nbsp;网络文化经营许可证：<a href="#">XXXXXXXXXX号</a></li>
						 <li class="admit2">增值电信业务经营许可证：京XX-XXXXXXXX-X</li>
						 <li class="admit2">信息网络传播视听节目许可证：XXXXXXX号</li>
					</ul>
					<div class="footerimage">
						 <a href="#"><img src="img/footer1.gif" /></a>
						 <a href="#"><img src="img/footer2.gif" /></a>
						 <a href="#"><img src="img/footer3.png" /></a>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
